<form method="post" action="{{ path('gerencia_delete', {'id': gerencium.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ gerencium.id) }}">
    <button class="btn"><i class="far fa-trash-alt"></i>Delete</button>
</form>
