<form method="post" action="{{ path('correccion_delete', {'id': correccion.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ correccion.id) }}">
    <button class="btn"><i class="far fa-trash-alt"></i>Delete</button>
</form>
