{{ form_start(form) }}
    {{ form_widget(form) }}
    

  
     <div class="card-footer">
                <button type="submit"  class="btn btn-primary" id="banca_enviar">
                  {{ button_label|default('Agregar') }}
              </button>
     </div>
     
		

{{ form_end(form) }}