{% extends '@FgimenezAdminlte/layout.admin.html.twig' %}

{% block title %}Edit Carrera{% endblock %}

{% block body %}
     <h1>Edit Carrera</h1>


		<div class="row">
          <!-- left column -->
          <div class="col-md-6">
            <!-- general form elements -->
            <div class="card card-secondary">
              <div class="card-header">
                <h3 class="card-title">Editar</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->            
                <div class="card-body">
                       {{ include('carrera/_form.html.twig', {'button_label': 'Update'}) }}
                </div>
                <!-- /.card-body -->               
             
            </div>
            <!-- /.card -->

            <a href="{{ path('carrera_index') }}">
            	<i class="fas fa-arrow-left"></i>
            	volver
            	
            </a>

             
		 </div>
		</div>

{% endblock %}
