{% extends '@FgimenezAdminlte/layout.admin.html.twig' %}

{% block title %}New Pago Extra{% endblock %}

{% block body %}
    <h1>Nuevo Pago Extra</h1>

       <div class="row">
          <!-- left column -->
          <div class="col-md-6">
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Nuevo</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->            
                <div class="card-body">
                   {{ include('pago_personal/_form.html.twig') }}
                </div>
                <!-- /.card-body -->               
             
            </div>
            <!-- /.card -->

              <a href="{{ path('pago_personal_bysaldo') }}">
            	<i class="fas fa-arrow-left"></i>
            	volver
            	
            </a>
		  </div>
		</div>
            
{% endblock %}

